@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

.d3chart-title {
  text-anchor: start;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  fill: #CD223B;
}

.d3chart-subtitle {
  font-family: Lato;
  font-weight: 700;
  font-size: 13px;
  display: block;
  line-height: 1.2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.focus circle {
  fill: none;
  stroke: #CD223B;
}

.axis, .focus, .d3credit {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

.d3credit {
  font-style: italic;
  fill: #999;
}

.d3chart .line {
  fill: none;
  stroke-width: 2.5px;
}

.d3chart-key {
  text-anchor: left;
  font-family: Lato;
  font-size: 12px;
}